{% extends "layouts/base.njk" %}

{% block content %}
 <br><br>

  <div class='painel rounded'>
    <h5>Filosofia Natural das Coisas</h5>
    <div>
      <hr />
      <small><i>"É numa substância simples, e não num composto ou numa máquina, que a percepção deve ser
          procurada."</i></small>
      <br><small><i><b>- Gottfried Leibniz </b></i></small>
      <hr>
      <small><i>A verdade sempre pode ser encontrada na simplicidade, e não na multiplicidade e confusão das
          coisas</i><br>
        <i> <b>- Isaac Newton</b></i></small>
    </div>
  </div>


  <br><br><br>





  
    <hr style="background-color:gray">


<p>{{ message }}</p>
{% endblock %}
